@model IDictionary<int, Mosaic.DTO.ToDoItemDTO>

@{

    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <input type="text" id="taskname" value="Task name" />
    <p><button id="addTask">Add task</button> </p>
</div>
@{ foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-4">
                @if (item.Value.Done)
                {
                    <input id="@item.Key" type="checkbox" checked="checked" />
                }
                else
                {
                    <input id="@item.Key" type="checkbox" />
                }

            </div>
            <div class="col-md-4">
                @{ if (item.Value.Done)
                    {
                        <p style="text-decoration: line-through;">@item.Value.Name</p>
                    }
                    else
                    {
                        <p>@item.Value.Name</p>
                    }
                }
            </div>
            <div class="col-md-4">
                <button id="@item.Key" class="removeButton">Remove</button>
            </div>
        </div>
    }
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/todolist.js")"></script>
}
